{% extends 'base.html' %}

{% block body_class %}{% endblock %}

{% block content %}

<div class="container-fluid mt-2">
	<div class="row">
		<div class="col-md-2">
			<div class="list-group">
				 <div class="list-group-item list-group-item-action active">Menu</div>
				<div class="list-group-item">
					<a href="/services/add">Add a service</a>
				</div>
				<a href="/" class="list-group-item list-group-item-action active">Home</a>
			</div>
		</div>
		<!-- Confirm Delete Modal -->
		<div class="col-md-2">
			<div class="modal fade" id="confirmServiceDelete" tabindex="-1" aria-labelledby="confirmServiceDeleteLabel" aria-hidden="true">
				<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="confirmServiceDeleteLabel">Delete Service</h5>
					</div>
					<div class="modal-body">
					Are you sure you wish to delete this service?<br>
					</div>
					<div class="modal-footer" id="confirm-service-delete">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger" id="service-delete-btn" data-bs-dismiss="modal">Delete Service</button>
					</div>
				</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2 col-md-8">
			<h4>Services</h4>
			<table class="table table-hover table-bordered border-primary">
				<thead>
					<tr>
					  <th scope="col">#</th>
					  <th scope="col">Description</th>
					  <th scope="col">Price Per Unit</th>
					  <th scope="col">Unit</th>
					  <th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					

					
					{% for service in services %}
					<tr id="service-{{service.id}}-tr">
						<th>
							{{loop.index}}
						</th>
						<td>
							{{service.description}}
						</td>
						<td>
							${{service.rate.amount}}
						</td>
						<td>
							{{service.unit.name}}
						</td>
						<td>
							<div class="btn-group" id="edit-delete-service">
								<button class="btn btn-block btn-info" id="service-{{service.id}}-edit">Edit</button>
								<button class="btn btn-block btn-danger" id="service-{{service.id}}-delete" data-bs-toggle="modal" data-bs-target="#confirmServiceDelete">Delete</button>
							</div>
							
						</td>
					</tr>
					{% endfor %}
				</tbody>
			  </table>
		</div>
	</div>
</div>

{% endblock %}