{% extends 'base.html' %}

{% block body_class %}{% endblock %}

{% block content %}

<div class="container-fluid mt-2">
	<div class="row">
		<div class="col-md-2">
			<div class="list-group">
				 <div class="list-group-item list-group-item-action active">Menu</div>
				<div class="list-group-item">
					<a href="/services/add">Add a service</a>
				</div>
				<a href="/" class="list-group-item list-group-item-action active">Home</a>
			</div>
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<h4>Services</h4>
			<table class="table table-hover table-bordered border-primary">
				<thead>
					<tr>
					  <th scope="col">#</th>
					  <th scope="col">Description</th>
					  <th scope="col">Price Per Unit</th>
					  <th scope="col">Unit</th>
					  <th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					

					
					{% for service in services %}
					<tr>
						<th>
							{{loop.index}}
						</th>
						<td>
							{{service.description}}
						</td>
						<td>
							{{service.rate.amount}}
						</td>
						<td>
							{{service.unit.name}}
						</td>
						<td>
							<button class="btn btn-sm rounded-pill btn-info" id="service-{{service.id}}-edit">Edit</button>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			  </table>
            
			
            
		</div>
	</div>
</div>

{% endblock %}