{% extends 'base.html' %}

{% block body_class %}{% endblock %}

{% block content %}

<div class="container-fluid mt-2">		
    <div class="row">
        <div class="col d-flex justify-content-center">
            
            <div class="table-responsive">
                <h4 class="text-center">Estimates for {{company.name}}</h4>
                <table class="table table-hover table-bordered border-primary fs-5 w-100">
                    <thead>
                        <tr class="bg-dark text-light">
                            <th scope="col">#</th>
                            <th scope="col">Estimate ID</th>
                            <th scope="col">Customer ID</th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Total Cost</th>
                        </tr>
                    </thead>
                    <tbody class="table-light" id="estimates-for-company-{{company.id}}">
                        {% if estimates %}
                        {% for estimate in estimates %}
                            {% if not estimate.deleted_date %}
                                <tr class="estimate-rows" id="estimate-{{estimate.id}}-tr">
                                    <th class="fit text-wrap" id="estimate-index">
                                    </th>
                                    <td class="fit text-wrap" id="estimate-{{estimate.id}}-id">
                                        {{estimate.id}}
                                    </td>
                                    <td class="fit text-wrap" id="estimate-{{estimate.id}}-cust_id">
                                        {{estimate.cust_id}}
                                    </td>
                                    <td class="fit text-wrap" id="estimate-{{estimate.id}}-cust_name">
                                        {{estimate.customer.full_name}}
                                    </td>
                                    <td class="fit text-wrap" id="estimate-{{estimate.id}}-created-date">
                                        {{estimate.created_date.strftime('%m-%d-%Y')}}
                                    </td>
                                    <td class="fit text-wrap" id="estimate-{{estimate.id}}-total_cost">
                                        ${{estimate.total_cost}}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% else %} 
                                <tr class="estimate-rows">
                                    <td colspan="6" class="text-center">NO ESTIMATES FOR THIS COMPANY</td>
                                </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}