<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/static/lux-bs/bootstrap.min.css">
</head>
<body>
    <div class="container">
            <!-- <img src="static/404-error-template.jpg" alt="404-error-image" id="fourzerofour-image"> -->
            <div class="row mt-4">
                <div class="col"></div>
                <div class="col-10">
                    <div class="d-flex justify-content-center">
                        <h3>404 PAGE NOT FOUND</h3>
                        
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <a class="btn btn-primary" href="/">Go Back</a>
                </div>
            </div>
            
            
    </div>
</body>
</html>





