{% extends 'base.html' %}

{% block body_class %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 fs-4">
            <h1 class="text-center mb-4">About Invoyz</h1>
            <p class="text-center"><i>Invoyz</i> is a simple invoicing app designed for contractors and small businesses, providing an affordable alternative to expensive invoice building software.</p>
            <p class="text-center">The idea for this app came from my parents' experience with landscapers who requested payment through money transferring apps due to high monthly subscription costs of traditional invoicing software.</p>
            <p class="text-center">With <i>Invoyz</i>, I aim to provide essential features for seamless invoice and estimate creation in a minimalist package at an affordable price. Users can enjoy a 12-month free trial and a small monthly fee after that.</p>
        </div>
    </div>
</div>
{% endblock %}