{% extends 'base.html' %}

{% block body_class %}{% endblock %}

{% block content %}



<div class="mt-4 container-fluid">	

	<!-- Estimate Modal pop up -->
	<div class="col-md-2 m-4" id="estimate-modal">
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#estimateModal">
			Create Estimate
		</button>
		<!-- Modal -->
		<div class="modal fade" id="estimateModal" tabindex="-1" aria-labelledby="estimateModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">New Estimate</h1>
					</div>
					<div class="modal-body">
						<div id="estimate-form" class="form-group m-2">

											<div class="text-center">
												<label for="customer-name">Insert Name of Customer</label>
												<br>
												<select class="form-select text-center" name="customer-select" id="customer-select">
													{% if customers %}
														{% for cust in customers %} 
															<option value="{{cust.id}}">{{cust.full_name}}</option>
														{% endfor %}
													{% endif %}
														
												</select>
													
													
												<br>
												<label class="form-label" for="services-options">Select service to add to estimate:</label>
												<select name="services" id="services-options" class="form-select text-center">
													{% if services %}
														{% for service in services %}
														<option value="{{service.id}}">{{service.description}}</option>
														{% endfor %}
													{% endif %}
												</select>
												<br>
												<br>
												<a href="#" id="add-service-estimate" class="btn btn-sm btn-primary">Add Service</a>
											</div>

							
										
									</div>
										<ol class="list-group list-group-numbered" id="estimate-list">
					
										</ol>
										<ol class="list-group">
											<li class="list-group-item">
												<div class="ms-2 me-auto">
													<div>
														<b>Total</b>
														<span id="estimate-total" class="badge bg-success float-end">0</span>
													</div>
													
												</div>
												
											</li>
										</ol>
								</div>
								<div class="modal-footer">
								<a class="btn btn-outline-primary" aria-label="Close" data-bs-dismiss="modal">Close</a>
								<a href='#' id="estimate-submit-btn" class="btn btn-primary" >Save Changes</a>
								</div>
							
				</div>
			</div>
		</div>
	</div>

	<!-- Invoice Table -->
	<div class="row">
		<div class="col">
			<div class="table-responsive">
			<table class="table table-sm table-hover table-bordered ">
				<thead class="table-dark">
					<tr>
						<th>
							#
						</th>
						<th>
							Invoice I.D.
						</th>
						<th>
							Total Cost
						</th>
						<th>
							Amount Paid
						</th>
						<th>
							Balance Left
						</th>
						<th>
							Due Date
						</th>
						<th>
							Status
						</th>
					</tr>
				</thead>
				<tbody class="table-light" id="invoice-table-body" data-bs-toggle="modal" data-bs-target="#invoiceModal">
					{% set total_cost = 0 %}
            		{% set amount_paid = 0 %}
					{% if invoices %}
						{% for invoice in invoices %}
						<tr id="invoice-{{invoice.id}}-row">
							<td>
								{{loop.index}}
							</td>
							<td>
								{{invoice.id}}
							</td>
							<td>
								{{ '%0.2f'| format(invoice.total_cost) }}
							</td>
							<td>
								{% if invoice.payments %}
								{{invoice.payments|sum(attribute='amount')}}
								{% else %} 
								0
								{% endif %}
							</td>
							<td>
								{{ '%0.2f'| format((invoice.total_cost - invoice.payments|sum(attribute='amount'))|float) }}
							</td>
							<td>
								{{invoice.due_date.strftime('%m-%d-%Y')}}
							</td>
							
								{% if invoice.total_cost - invoice.payments|sum(attribute='amount') == 0 %}
									<td class="bg-success">
										Paid in full
									</td>
									
								{% elif invoice.payments|sum(attribute='amount') == 0 %}
									<td class="bg-danger">
										Unpaid
									</td>
									
								{% else %}
								<td class="bg-info">
									Partially paid
								</td>
									
								{% endif %}
								{% set total_cost = total_cost + invoice.total_cost %}
								{% set amount_paid = amount_paid + (invoice.payments|sum(attribute='amount') if invoice.payments else 0) %}
						</tr>
						{% endfor %}
					{% endif %}
				</tbody>
				<tfoot>
					{% if invoices %}
					<tr class="table-dark table-bordered fs-4">
						<td colspan="2">Totals</td>
						<td class="bg-success">${{ '%0.2f'| format(invoices|sum(attribute='total_cost')) }}</td>
						<td class="bg-info">{% set amount_paid = [] %}
							
								{% for invoice in invoices %}
									{% for payment in invoice.payments %}
										{% set _ = amount_paid.append(payment.amount) %}
									{% endfor %}
								{% endfor %}
							${{ '%0.2f'| format(amount_paid|sum) }}
						</td>
						<td class="bg-danger">${{ '%0.2f'| format(invoices|sum(attribute='total_cost') - amount_paid|sum) }}</td>
						<td colspan="2"></td>
					</tr>
					{% endif %}
				</tfoot>
				
				
				
			</table>
			</div>
		</div>
		
	</div>
</div>
		<div class="col">
			<!-- Invoice Modal -->
			<div class="modal modal-lg fade" id="invoiceModal" tabindex="-1" aria-labelledby="invoiceModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header bg-info text-light">
						<h1 class="modal-title fs-5" id="invoiceModalLabel">Invoice # <span id="invoice-modal-id"></span></h1>
						</div>
						<div class="modal-body mx-2">
							<div class="row d-flex justify-content-center">
								<table class="table table-info table-bordered border-primary">
									<thead class="">
										<h4 class="mt-3 text-center">Customer Info</h4>
										<th>Name</th>
										<th>Phone</th>
										<th>Email</th>
									</thead>
									<tbody class="table-light fs-5 text-wrap">
										<td id="invoice-modal-customer-name"></td>
										<td id="invoice-modal-customer-phone"></td>
										<td id="invoice-modal-customer-email"></td>
									</tbody>
								</table>
									
							</div>
							<div class="row d-flex justify-content-center">
								<table class="table table-primary disabled mt-3 table-bordered border-primary">
									<h4 class="mt-3 text-center">Payment Log</h4>
									<!-- Payment Accordion -->
									<div class="accordion" id="addPaymentAccordion">
										<div class="accordion-item">
										  <h2 class="accordion-header" id="paymentHeader">
											<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordionPaymentForm" aria-expanded="true" aria-controls="accordionPaymentForm">
											  Add Payment
											</button>
										  </h2>
										  <div id="accordionPaymentForm" class="accordion-collapse collapse" aria-labelledby="paymentHeader" data-bs-parent="#addPaymentAccordion">
											<div class="accordion-body">
												<form action="" id="payment-add" method="POST">
													{{ payment_form.hidden_tag() }}
				
													{% for field in payment_form if field.widget.input_type != 'hidden' %}
														{% for error in field.errors %}
														<span class="text-danger">{{ error }}</span>
														{% endfor %}
														{{ field(placeholder=field.label.text, class="form-control m-3") }}
													{% endfor %}
													<button class="mt-4 btn btn-sm btn-success float-end" type="submit">Add</button>
												</form>
											</div>
										  </div>
										</div>
									</div>
									<thead>
										<th>Payment Date</th>
										<th>Payment Amount</th>
										<th>Reference #</th>
									</thead>
									<tbody id="invoice-modal-tbody" class="table-light">

									</tbody>
								</table>
							</div>
						</div>
									<div class="modal-footer">
									<a class="btn btn-outline-primary" aria-label="Close" data-bs-dismiss="modal" id="close-invoice-modal">Close</a>
									<a href='#' id="view-invoice-modal-btn" class="btn btn-primary" >View Invoice</a>
									</div>
								</div>
								
					</div>

			</div>

</div>

{% endblock %}