{% extends 'base.html' %}

{% block body_class %}{% endblock %}

{% block content %}



<div class="mt-4 container-fluid">
	<div class="row">
        <div class="col-md-2 bg-info">
            <p class="text-light">Welcome to my shite</p>
			<ul class="list-group">
				<li class="list-group-item">
					<a href="/invoices/add" class="text-light badge badge-pill badge-primary mx-2">New Invoice</a>
				</li>
				<li class="list-group-item">
					<a href="/customers" class="text-light badge badge-pill badge-primary mx-2">Customers</a>
				</li>
				<li class="list-group-item">
					<a href="/services" class="text-light badge badge-pill badge-primary mx-2">Services</a>
				</li>
			</ul>
        </div>
		
		<div class="col-md-4">
            <div class="list-group">
                <h4 class="list-group-item-heading">
                    Invoices
                </h4>
				{% for payment in payment_history %}
				<div class="list-group-item">
					<div class="row">
						{% if payment.due_date < payment.curr_date %}
						<div class="col-12 text-center">
							<p class="badge bg-warning text-dark">Warning! Invoice is overdue.</p>
						</div>
						{% endif %}
						<div class="col">
							<div class="badge bg-info">
								Invoice #{{payment.invoice_id}}
							</div>
						</div>
						<div class="col">
							<div class="badge bg-secondary">
								Total Cost: {{payment.total_cost}}
							</div>
						</div>
						<div class="col">
							<div class="badge bg-primary">
								Amount paid: {{ (payment.total_cost - payment.amount_left) }}
							</div>
						</div>
					</div>
					<p class="mt-2 mb-0">
						{% for c in customers %}
						{% if c.id == payment.customer_id %}
						<div class="row">
							<div class="col">
								{{c.full_name}} has <span class="badge bg-secondary">{{ "$%.2f"|format	(payment.amount_left) }}</span> left to pay off.
							</div>
						</div>
						<div class="row">
							<div class="col mt-2">
								{% if payment.due_date < payment.curr_date %}
								Due date was <u>{{payment.due_date}}</u>
								{% else %}
								<u>Due date: {{payment.due_date}}.</u>
								{% endif %}

							</div>
						</div>
						{% endif %}
						{% endfor %}
 					</p>
				</div>
				{% endfor %}
			</div>
		
			
			<a href="#" class="badge bg-primary">View all outstanding invoices</a>
		</div>

		<div class="col-md-4">
			<div class="list-group">
				<h4 class="list-group-item-heading">
                    Customers
                </h4>
                {% for customer in customers %} 
				<div class="list-group-item">
					
                    <div class="list-item">
                        <a href="#">{{customer.full_name}}</a>
                    </div>
				</div>
                {% endfor %}
				

			</div> <a href="/customers/add" class="btn btn-primary btn-block" type="button">Add New Customer</a>
		</div>
		<div class="col">
			<div class="list-group">
                <h4 class="list-group-item-heading text-center">
                    Yearly Revenue: <span class="badge bg-success">{{yearly_revenue}}</span>
                </h4>
				<div class="list-group-item">
					
				</div>
			
		</div>
	</div>
</div>

{% endblock %}