{% extends 'base.html' %}

{% block body_class %}{% endblock %}

{% block content %}


<div class="container-fluid">		
			<div class="mt-4 row justify-content-md-center">
                <div class="form-group">
                  <h2 class="join-message">Welcome Back</h2>
                  <form method="POST" id="user_form">
                    {{ form.hidden_tag() }}
              
                    {% for field in form if field.widget.input_type != 'hidden' %}
                      {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                      {% endfor %}
                      {{ field(placeholder=field.label.text, class="form-control m-3") }}
                    {% endfor %}
              
                    <button class="btn btn-primary btn-lg">Log me in!</button>
                  </form>
                </div>
              </div>
		<div class="col-md-4">
		</div>
	</div>
</div>

{% endblock %}