{% extends 'base.html' %}

{% block body_class %}bg-primary{% endblock %}

{% block content %}


<div class="container-fluid">		
			<div class="mt-4 row ">
        <h2 class="text-light text-center">Create Account</h2>
                <div class="form-group d-flex justify-content-center" >
                  
                  <form method="POST" id="user_form">
                    {{ signup_form.hidden_tag() }}
              
                    {% for field in signup_form if field.widget.input_type != 'hidden' %}
                      {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                      {% endfor %}
                      {{ field(placeholder=field.label.text, class="form-control mt-3 mb-3") }}
                    {% endfor %}
                    
                    <div class="row">
                      <div class="col">
                        <button class="btn btn-secondary">Sign me up!</button>
                      </div>
                      <div class="col">
                        <a href="/guest" class="btn btn-outline-info p-0">Login as Guest</a>
                      </div>
                    </div>

                    
                  </form>
                </div>
              </div>
    <div class="mt-5 row">
      <div class="col d-flex justify-content-center">
        <h3 class="text-light">Already have an account? Login <a class="text-info" href="/login">here</a></h3>
      </div>
    </div>
		

</div>


{% endblock %}